<a href="https://colab.research.google.com/github/SAPUII/BasicProg_DataViz65/blob/main/BISAD_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
#‡πÄ‡∏ä‡∏∑‡πà‡∏≠‡∏° google drive 
from google.colab import drive 
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
#‡πÄ‡∏Ç‡πâ‡∏≤‡πÑ‡∏õ path ‡πÉ‡∏ô google drive
import os
os.chdir('/content/gdrive/MyDrive/BPDV65_PROJECT')

!pwd #‡πÄ‡∏ä‡πá‡∏Ñ paht ‡∏ó‡∏µ‡πà‡∏Å‡∏≥‡∏•‡∏±‡∏á‡∏ó‡∏≥‡∏á‡∏≤‡∏ô‡∏≠‡∏¢‡∏π‡πà

/content/gdrive/MyDrive/BPDV65_PROJECT

In [3]:
!ls

opendata_eating_score_clean.csv  opendata_unittype.csv
opendata_eating_score.csv	 opendata_volume_listing_clean.csv
opendata_interest_clean.csv	 opendata_volume_listing.csv
opendata_interest.csv		 Project_data5.csv
opendata_project_clean.csv	 Project_data.csv
opendata_project.csv		 Project_data.gsheet
opendata_unittype_clean.csv

# üîóDatabase
[Open Data Free!! By Baania (Thailand)](https://gobestimate.com/data)


```
opendata_project.csv
```
[*Residental Project Data* ](https://gobestimate.com/data-detail/Residental-Project-Data)
 ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏£‡∏≤‡∏¢‡∏•‡∏∞‡πÄ‡∏≠‡∏µ‡∏¢‡∏î‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏π‡πà‡∏≠‡∏≤‡∏®‡∏±‡∏¢‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó ‡∏à‡∏±‡∏î‡∏™‡∏£‡∏£ ‡∏ú‡∏π‡πâ‡∏û‡∏±‡∏í‡∏ô‡∏≤ ‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£ ‡πÅ‡∏•‡∏∞‡∏™‡∏¥‡πà‡∏á‡∏≠‡∏≥‡∏ô‡∏ß‡∏ô‡∏Ñ‡∏ß‡∏≤‡∏°‡∏™‡∏∞‡∏î‡∏ß‡∏Å ‡∏Ç‡∏≠‡∏á‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢ 
```
opendata_unittype.csv  
```
[*Residental Unittype Data*](https://gobestimate.com/data-detail/Residental-Unittype-Data)
‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏£‡∏≤‡∏¢‡∏•‡∏∞‡πÄ‡∏≠‡∏µ‡∏¢‡∏î‡πÅ‡∏ö‡∏ö‡∏ö‡πâ‡∏≤‡∏ô‡πÉ‡∏ô‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏π‡πà‡∏≠‡∏≤‡∏®‡∏±‡∏¢‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó ‡∏à‡∏±‡∏î‡∏™‡∏£‡∏£ ‡∏à‡∏≤‡∏Å‡∏Å‡∏≤‡∏£‡∏£‡∏ß‡∏ö‡∏£‡∏ß‡∏°‡πÇ‡∏î‡∏¢ ‡∏ö‡∏≤‡πÄ‡∏ô‡∏µ‡∏¢ ‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏´‡∏ï‡∏∏ ‡∏ï‡πâ‡∏≠‡∏á‡πÉ‡∏ä‡πâ‡∏£‡πà‡∏ß‡∏°‡∏Å‡∏±‡∏ö‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• "Residental Project Data"
```
opendata_eating_score.csv
```
[*Eating Score By Location*](https://gobestimate.com/data-detail/Eating-Score-By-Location)
‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏Å‡∏≤‡∏£‡∏Å‡∏¥‡∏ô‡∏Ç‡∏≠‡∏á‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà‡∏ï‡πà‡∏≤‡∏á‡πÜ ‡∏ã‡∏∂‡πà‡∏á‡∏ß‡∏¥‡πÄ‡∏Ñ‡∏£‡∏≤‡∏∞‡∏´‡πå‡∏à‡∏≤‡∏Å‡∏õ‡∏±‡∏à‡∏à‡∏±‡∏¢‡∏î‡πâ‡∏≤‡∏ô‡∏£‡∏≤‡∏Ñ‡∏≤ ‡∏î‡πâ‡∏≤‡∏ô‡∏Ñ‡∏∏‡∏ì‡∏†‡∏≤‡∏û‡∏£‡πâ‡∏≤‡∏ô/‡∏ö‡∏£‡∏¥‡∏Å‡∏≤‡∏£ ‡πÅ‡∏•‡∏∞‡∏î‡πâ‡∏≤‡∏ô‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏•‡∏≤‡∏Å‡∏´‡∏•‡∏≤‡∏¢‡∏Ç‡∏≠‡∏á‡∏≠‡∏≤‡∏´‡∏≤‡∏£‡πÉ‡∏ô‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà ‡πÇ‡∏î‡∏¢‡∏à‡∏∞‡πÅ‡∏ö‡πà‡∏á‡∏Å‡∏≤‡∏£‡∏ß‡∏¥‡πÄ‡∏Ñ‡∏£‡∏≤‡∏∞‡∏´‡πå‡∏≠‡∏≠‡∏Å‡πÄ‡∏õ‡πá‡∏ô ‡∏Å‡∏≤‡∏£‡∏Å‡∏¥‡∏ô‡∏ä‡πà‡∏ß‡∏á‡πÄ‡∏ä‡πâ‡∏≤‡∏Å‡∏±‡∏ö‡∏Å‡∏≤‡∏£‡∏Å‡∏¥‡∏ô‡∏ä‡πà‡∏ß‡∏á‡∏Ñ‡πà‡∏≥

```
opendata_interest.csv
```
[*Customer Interest by Location*](https://gobestimate.com/data-detail/Customer-Interest-by-Location)
‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏Ñ‡∏ß‡∏≤‡∏°‡∏™‡∏ô‡πÉ‡∏à‡∏Ç‡∏≠‡∏á‡∏ú‡∏π‡πâ‡∏ö‡∏£‡∏¥‡πÇ‡∏†‡∏Ñ (‡πÅ‡∏ö‡∏ö aggreation value) ‡∏ó‡∏µ‡πà‡∏™‡∏ô‡πÉ‡∏à‡πÉ‡∏ô‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏π‡πà‡∏≠‡∏≤‡∏®‡∏±‡∏¢‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó ‡∏à‡∏±‡∏î‡∏™‡∏£‡∏£ ‡∏ö‡∏ô‡πÄ‡∏ß‡πá‡∏ö Baania.com ‡πÅ‡∏¢‡∏Å‡∏ï‡∏≤‡∏°‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏≠‡∏™‡∏±‡∏á‡∏´‡∏≤‡∏£‡∏¥‡∏°‡∏ó‡∏£‡∏±‡∏û‡∏¢‡πå‡πÉ‡∏ô‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà ‡πÄ‡∏ô‡∏∑‡πà‡∏≠‡∏á‡∏à‡∏≤‡∏Å‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏°‡∏µ‡∏Å‡∏≤‡∏£‡∏Ñ‡∏≥‡∏ô‡∏∂‡∏á‡∏ñ‡∏∂‡∏á‡∏Å‡∏≤‡∏£‡∏õ‡∏Å‡∏õ‡∏¥‡∏î‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏™‡πà‡∏ß‡∏ô‡∏ö‡∏∏‡∏Ñ‡∏Ñ‡∏•‡πÄ‡∏õ‡πá‡∏ô‡∏™‡∏≥‡∏Ñ‡∏±‡∏ç ‡∏Å‡∏≤‡∏£‡∏ô‡∏≥‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÑ‡∏õ‡πÉ‡∏ä‡πâ‡∏á‡∏≤‡∏ô‡πÅ‡∏ö‡∏ö‡πÅ‡∏ô‡∏ß‡πÇ‡∏ô‡πâ‡∏°‡∏à‡∏∂‡∏á‡πÄ‡∏õ‡πá‡∏ô‡∏™‡∏¥‡πà‡∏á‡∏ó‡∏µ‡πà‡πÅ‡∏ô‡∏∞‡∏ô‡∏≥

```
opendata_volume_listing.csv
```
[*Volume of Sale Listing by Location*](https://gobestimate.com/data-detail/Volume-of-Sale-Listing-by-Location) ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏õ‡∏£‡∏∞‡∏Å‡∏≤‡∏®‡∏Ç‡∏≤‡∏¢‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏π‡πà‡∏≠‡∏≤‡∏®‡∏±‡∏¢‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó ‡∏à‡∏±‡∏î‡∏™‡∏£‡∏£ ‡πÅ‡∏¢‡∏Å‡∏ï‡∏≤‡∏°‡∏õ‡∏£‡∏∞‡πÄ‡∏†‡∏ó‡∏≠‡∏™‡∏±‡∏á‡∏´‡∏≤‡∏£‡∏¥‡∏°‡∏ó‡∏£‡∏±‡∏û‡∏¢‡πå‡πÉ‡∏ô‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà ‡πÇ‡∏î‡∏¢‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏°‡∏≤‡∏à‡∏≤‡∏Å‡∏õ‡∏£‡∏∞‡∏Å‡∏≤‡∏®‡∏Ç‡∏≤‡∏¢‡πÉ‡∏ô‡πÇ‡∏•‡∏Å‡∏≠‡∏≠‡∏ô‡πÑ‡∏•‡∏ô‡πå‡∏Ç‡∏≠‡∏á‡∏õ‡∏£‡∏∞‡πÄ‡∏ó‡∏®‡πÑ‡∏ó‡∏¢ ‡∏ó‡∏µ‡πà‡∏ú‡πà‡∏≤‡∏ô‡∏Å‡∏£‡∏∞‡∏ö‡∏ß‡∏ô‡∏Å‡∏≤‡∏£‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏Ç‡∏≠‡∏á‡∏ö‡∏≤‡πÄ‡∏ô‡∏µ‡∏¢

# üîóOpen CSV file

# üîóInformation from dataset

1.   ‡∏≠‡∏¢‡∏≤‡∏Å‡πÑ‡∏î‡πâ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£‡πÉ‡∏ô‡∏£‡∏π‡∏õ‡πÅ‡∏ö‡∏ö google map 
2.   ‡πÄ‡∏°‡∏∑‡∏≠‡∏Ñ‡∏•‡∏¥‡∏Å ‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£ ‡∏´‡∏ô‡∏∂‡πà‡∏á‡πÜ ‡πÅ‡∏•‡πâ‡∏ß‡∏à‡∏∞‡∏•‡∏¥‡∏á‡∏Å‡πå‡πÑ‡∏õ‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡πÅ‡∏ö‡∏ö‡∏ö‡πâ‡∏≤‡∏ô‡πÉ‡∏ô‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£‡∏ô‡∏±‡πâ‡∏ô‡πÜ

In [4]:
#open CSV file 
import pandas as pd

In [5]:
opendata_project = pd.read_csv('opendata_project.csv')
print(opendata_project.shape) # shown number of (row, column)
opendata_project.head(4)#‡∏î‡∏π‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• 4 ‡πÅ‡∏ñ‡∏ß‡πÅ‡∏£‡∏Å

(23913, 46)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project,day
0,4809.0,project_4270,Paholyothin Park Condominium,‡∏û‡∏´‡∏•‡πÇ‡∏¢‡∏ò‡∏¥‡∏ô ‡∏õ‡∏≤‡∏£‡πå‡∏Ñ ‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î‡∏°‡∏¥‡πÄ‡∏ô‡∏µ‡∏¢‡∏°,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,3650000.0,developer_10510,NaN,...,1.0,1.0,NaN,1.0,2017-02-27 16:46:08,2003-12-31 07:00:00,2021-03-12 12:30:04,baania,https://baania.com/th/project/‡∏û‡∏´‡∏•‡πÇ‡∏¢‡∏ò‡∏¥‡∏ô-‡∏õ‡∏≤‡∏£‡πå‡∏Ñ-‡∏Ñ...,2022-09-30
1,20964.0,project_15158,The Chill Village,‡πÄ‡∏î‡∏≠‡∏∞ ‡∏ä‡∏¥‡∏•‡∏•‡πå ‡∏ß‡∏¥‡∏•‡πÄ‡∏•‡∏à,3,Townhome,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,2450000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,2019-01-09 10:01:47,1970-01-02 07:00:00,2020-12-04 10:34:48,baania,https://baania.com/th/project/‡πÄ‡∏î‡∏≠‡∏∞-‡∏ä‡∏¥‡∏•‡∏•‡πå-‡∏ß‡∏¥‡∏•‡πÄ‡∏•...,2022-09-30
2,21086.0,project_9490,Diya Valley Sriracha,‡∏î‡∏µ‡∏ç‡πà‡∏≤ ‡∏ß‡∏≤‡πÄ‡∏•‡πà‡∏¢‡πå ‡∏®‡∏£‡∏µ‡∏£‡∏≤‡∏ä‡∏≤,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,2390000.0,developer_1015,"Poonsin Property Co., Ltd.",...,1.0,0.0,1.0,1.0,2017-09-06 13:01:47,1970-01-02 07:00:00,2020-12-04 10:36:24,baania,https://baania.com/th/project/‡∏î‡∏µ‡∏ç‡πà‡∏≤-‡∏ß‡∏≤‡πÄ‡∏•‡πà‡∏¢‡πå-‡∏®‡∏£...,2022-09-30
3,10281.0,project_13601,Baan Rungrawe,‡∏ö‡πâ‡∏≤‡∏ô‡∏£‡∏∏‡πà‡∏á‡∏£‡∏∞‡∏ß‡∏µ,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,2750000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,2018-05-29 16:39:45,1970-01-02 07:00:00,2020-12-04 10:38:35,baania,https://baania.com/th/project/‡∏ö‡πâ‡∏≤‡∏ô‡∏£‡∏∏‡πà‡∏á‡∏£‡∏∞‡∏ß‡∏µ-pro...,2022-09-30

In [6]:
opendata_unittype = pd.read_csv('opendata_unittype.csv')
print(opendata_unittype.shape) # shown number of (row, column) 
opendata_unittype.head(4)#‡∏î‡∏π‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• 4 ‡πÅ‡∏ñ‡∏ß‡πÅ‡∏£‡∏Å

(43385, 28)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype,day
0,2032,unittype_19988,project_7861,1 Bedroom,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,31.0,3002000.0,...,NaN,NaN,NaN,NaN,NaN,2022-06-16 14:30:02,2022-06-16 14:15:26,baania,https://baania.com/th/project/‡πÑ‡∏•‡∏ü‡πå-‡∏£‡∏±‡∏ä‡∏î‡∏≤‡∏†‡∏¥‡πÄ‡∏©‡∏Å-...,2022-09-30
1,34437,unittype_37037,project_15918,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏î‡∏µ‡πà‡∏¢‡∏ß‡∏ä‡∏±‡πâ‡∏ô‡πÄ‡∏î‡∏µ‡∏¢‡∏ß,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,NaN,480.0,1700000.0,...,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:45:20,2020-10-14 22:19:25,baania,https://baania.com/th/project/‡∏ò‡∏ô‡∏≤‡πÇ‡∏Æ‡∏°-‡∏≠‡∏∏‡∏î‡∏£‡∏ò‡∏≤‡∏ô‡∏µ-...,2022-09-30
2,29002,unittype_18897,project_6287,Studio,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,27.0,400000.0,...,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:33:39,2021-07-30 12:49:12,baania,https://baania.com/th/project/‡∏ò‡∏ô‡∏û‡∏•-‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î‡∏°‡∏¥‡πÄ‡∏ô‡∏µ‡∏¢...,2022-09-30
3,37984,unittype_39281,project_17150,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏î‡∏µ‡πà‡∏¢‡∏ß‡∏ä‡∏±‡πâ‡∏ô‡πÄ‡∏î‡∏µ‡∏¢‡∏ß,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,60.0,155.0,2490000.0,...,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:17:47,2020-01-16 16:13:43,baania,https://baania.com/th/project/‡∏ö‡πâ‡∏≤‡∏ô‡∏û‡∏∏‡∏ó‡∏ò‡∏£‡∏±‡∏Å‡∏©‡∏≤-‡∏™‡∏≤...,2022-09-30

In [7]:
opendata_eating_score = pd.read_csv('opendata_eating_score.csv')
print(opendata_eating_score.shape)# shown number of (row, column)  
opendata_eating_score.head(4)#‡∏î‡∏π‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• 4 ‡πÅ‡∏ñ‡∏ß‡πÅ‡∏£‡∏Å

(555, 20)

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety,source,day
0,145,1007,CHANG KHLAN,‡∏ä‡πâ‡∏≤‡∏á‡∏Ñ‡∏•‡∏≤‡∏ô,1006,MUEANG CHIANG MAI,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà,1005,Chiang Mai,‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà,64.0,48.0,62.0,97.0,73.0,41.0,70.0,92.0,baania,2022-09-30
1,102,3941,BANG PHONGPHANG,‡∏ö‡∏≤‡∏á‡πÇ‡∏û‡∏á‡∏û‡∏≤‡∏á,3939,YAN NAWA,‡∏¢‡∏≤‡∏ô‡∏ô‡∏≤‡∏ß‡∏≤,3781,Bangkok,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,71.0,73.0,64.0,82.0,73.0,62.0,65.0,85.0,baania,2022-09-30
2,64,3829,CHIMPHLI,‡∏â‡∏¥‡∏°‡∏û‡∏•‡∏µ,3826,TALING CHAN,‡∏ï‡∏•‡∏¥‡πà‡∏á‡∏ä‡∏±‡∏ô,3781,Bangkok,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,73.0,84.0,65.0,72.0,70.0,77.0,60.0,73.0,baania,2022-09-30
3,96,3503,BANG DUAN,‡∏ö‡∏≤‡∏á‡∏î‡πâ‡∏ß‡∏ô,3499,MUEANG SAMUT PRAKAN,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,3498,Samut Prakan,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,79.0,93.0,93.0,21.0,62.0,76.0,69.0,49.0,baania,2022-09-30

In [8]:
opendata_interest = pd.read_csv('opendata_interest.csv')
print(opendata_interest.shape)# shown number of (row, column) 
opendata_interest.head(4)#‡∏î‡∏π‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• 4 ‡πÅ‡∏ñ‡∏ß‡πÅ‡∏£‡∏Å

(1767, 12)

,row_number,transction_year,transction_month,province_name_th,province_name_en,district_name_th,district_name_en,propertytype_name_th,propertytype_name_en,volume_of_project,interest,day
0,1185,2020,6,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏Ñ‡∏•‡∏≠‡∏á‡πÄ‡∏ï‡∏¢,KHLONG TOEI,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,19,32,2022-09-30
1,369,2020,5,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,Nonthaburi,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,MUEANG NONTHABURI,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,81,555,2022-09-30
2,780,2019,2,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏´‡πâ‡∏ß‡∏¢‡∏Ç‡∏ß‡∏≤‡∏á,HUAI KHWANG,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,120,432,2022-09-30
3,1765,2019,7,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,Samut Prakan,‡∏û‡∏£‡∏∞‡∏õ‡∏£‡∏∞‡πÅ‡∏î‡∏á,PHRA PRADAENG,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,11,28,2022-09-30

In [9]:
opendata_volume_listing = pd.read_csv('opendata_volume_listing.csv')
print(opendata_volume_listing.shape)# shown number of (row, column)   
opendata_volume_listing.head(4)#‡∏î‡∏π‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏• 4 ‡πÅ‡∏ñ‡∏ß‡πÅ‡∏£‡∏Å

(2212, 11)

,row_number,transction_year,transction_month,listing_province_name_th,listing_province_name_en,listing_district_name_th,listing_district_name_en,project_propertytype_name_th,project_propertytype_name_en,volume_of_sale,day
0,354,2021,6,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,SAMUT PRAKAN,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,MUEANG SAMUT PRAKAN,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,643,2022-09-30
1,2058,2021,11,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,BANGKOK,‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£,PHRA NAKHON,‡∏ö‡πâ‡∏≤‡∏ô‡πÅ‡∏ù‡∏î,Twin house,19,2022-09-30
2,305,2021,11,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,BANGKOK,‡∏ß‡∏±‡∏á‡∏ó‡∏≠‡∏á‡∏´‡∏•‡∏≤‡∏á,WANG THONGLANG,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,279,2022-09-30
3,1831,2021,5,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,SAMUT PRAKAN,‡∏ö‡∏≤‡∏á‡∏û‡∏•‡∏µ,BANG PHLI,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,24,2022-09-30

# üîóData Cleaning

## üìëopendata_project table

In [10]:
opendata_project = pd.read_csv('opendata_project.csv')
print(opendata_project.shape) # shown number of (row, column)
opendata_project.head()

(23913, 46)

,row_number,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,...,facility_park,facility_playground,facility_pool,facility_security,date_created,date_finish,date_updated,source,url_project,day
0,4809.0,project_4270,Paholyothin Park Condominium,‡∏û‡∏´‡∏•‡πÇ‡∏¢‡∏ò‡∏¥‡∏ô ‡∏õ‡∏≤‡∏£‡πå‡∏Ñ ‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î‡∏°‡∏¥‡πÄ‡∏ô‡∏µ‡∏¢‡∏°,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,3650000.0,developer_10510,NaN,...,1.0,1.0,NaN,1.0,2017-02-27 16:46:08,2003-12-31 07:00:00,2021-03-12 12:30:04,baania,https://baania.com/th/project/‡∏û‡∏´‡∏•‡πÇ‡∏¢‡∏ò‡∏¥‡∏ô-‡∏õ‡∏≤‡∏£‡πå‡∏Ñ-‡∏Ñ...,2022-09-30
1,20964.0,project_15158,The Chill Village,‡πÄ‡∏î‡∏≠‡∏∞ ‡∏ä‡∏¥‡∏•‡∏•‡πå ‡∏ß‡∏¥‡∏•‡πÄ‡∏•‡∏à,3,Townhome,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,2450000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,2019-01-09 10:01:47,1970-01-02 07:00:00,2020-12-04 10:34:48,baania,https://baania.com/th/project/‡πÄ‡∏î‡∏≠‡∏∞-‡∏ä‡∏¥‡∏•‡∏•‡πå-‡∏ß‡∏¥‡∏•‡πÄ‡∏•...,2022-09-30
2,21086.0,project_9490,Diya Valley Sriracha,‡∏î‡∏µ‡∏ç‡πà‡∏≤ ‡∏ß‡∏≤‡πÄ‡∏•‡πà‡∏¢‡πå ‡∏®‡∏£‡∏µ‡∏£‡∏≤‡∏ä‡∏≤,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,2390000.0,developer_1015,"Poonsin Property Co., Ltd.",...,1.0,0.0,1.0,1.0,2017-09-06 13:01:47,1970-01-02 07:00:00,2020-12-04 10:36:24,baania,https://baania.com/th/project/‡∏î‡∏µ‡∏ç‡πà‡∏≤-‡∏ß‡∏≤‡πÄ‡∏•‡πà‡∏¢‡πå-‡∏®‡∏£...,2022-09-30
3,10281.0,project_13601,Baan Rungrawe,‡∏ö‡πâ‡∏≤‡∏ô‡∏£‡∏∏‡πà‡∏á‡∏£‡∏∞‡∏ß‡∏µ,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,2750000.0,developer_10510,NaN,...,NaN,NaN,NaN,NaN,2018-05-29 16:39:45,1970-01-02 07:00:00,2020-12-04 10:38:35,baania,https://baania.com/th/project/‡∏ö‡πâ‡∏≤‡∏ô‡∏£‡∏∏‡πà‡∏á‡∏£‡∏∞‡∏ß‡∏µ-pro...,2022-09-30
4,6023.0,project_12398,Town Plus Ladprao 101,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡∏û‡∏•‡∏±‡∏™ ‡∏•‡∏≤‡∏î‡∏û‡∏£‡πâ‡∏≤‡∏ß 101,3,Townhome,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,4600000.0,developer_2417,"PLUS PROPERTY CO., LTD.",...,1.0,1.0,NaN,1.0,2017-12-08 10:34:05,1970-01-02 07:00:00,2021-07-13 11:30:08,baania,https://baania.com/th/project/‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡∏û‡∏•‡∏±‡∏™-‡∏•‡∏≤‡∏î‡∏û‡∏£‡πâ...,2022-09-30

### Select columns

In [11]:
opendata_project.columns

Index(['row_number', 'project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'developer_name_th', 'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
       'neighborhood_name_th', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_tower',
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security',
       'date_created', 'date_finish', 'date_updated', 'source', 'url_project',
       'day'],
      dtype='object')

In [12]:
opendata_project = opendata_project[['project_id',  'name_en','name_th',  'propertytype_id',
       'propertytype_name_en','propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en',  'latitude',
       'longitude', 'neighborhood_id', 'neighborhood_name_en',
        'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 
       'count_unit', 'count_unittype', 'facility_clubhouse',
       'facility_fitness', 'facility_meeting', 'facility_park',
       'facility_playground', 'facility_pool', 'facility_security']]

In [13]:
opendata_project.head()

,project_id,name_en,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,price_min,developer_id,developer_name_en,latitude,...,count_parking,count_unit,count_unittype,facility_clubhouse,facility_fitness,facility_meeting,facility_park,facility_playground,facility_pool,facility_security
0,project_4270,Paholyothin Park Condominium,‡∏û‡∏´‡∏•‡πÇ‡∏¢‡∏ò‡∏¥‡∏ô ‡∏õ‡∏≤‡∏£‡πå‡∏Ñ ‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î‡∏°‡∏¥‡πÄ‡∏ô‡∏µ‡∏¢‡∏°,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,3650000.0,developer_10510,NaN,13.786388,...,NaN,96.0,2.0,NaN,1.0,NaN,1.0,1.0,NaN,1.0
1,project_15158,The Chill Village,‡πÄ‡∏î‡∏≠‡∏∞ ‡∏ä‡∏¥‡∏•‡∏•‡πå ‡∏ß‡∏¥‡∏•‡πÄ‡∏•‡∏à,3,Townhome,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,2450000.0,developer_10510,NaN,16.209059,...,NaN,125.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,project_9490,Diya Valley Sriracha,‡∏î‡∏µ‡∏ç‡πà‡∏≤ ‡∏ß‡∏≤‡πÄ‡∏•‡πà‡∏¢‡πå ‡∏®‡∏£‡∏µ‡∏£‡∏≤‡∏ä‡∏≤,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,2390000.0,developer_1015,"Poonsin Property Co., Ltd.",13.173645,...,NaN,195.0,4.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0
3,project_13601,Baan Rungrawe,‡∏ö‡πâ‡∏≤‡∏ô‡∏£‡∏∏‡πà‡∏á‡∏£‡∏∞‡∏ß‡∏µ,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,2750000.0,developer_10510,NaN,8.096150,...,NaN,32.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,project_12398,Town Plus Ladprao 101,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡∏û‡∏•‡∏±‡∏™ ‡∏•‡∏≤‡∏î‡∏û‡∏£‡πâ‡∏≤‡∏ß 101,3,Townhome,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,4600000.0,developer_2417,"PLUS PROPERTY CO., LTD.",13.797585,...,NaN,114.0,1.0,NaN,NaN,NaN,1.0,1.0,NaN,1.0

### Missing/Null Checking

In [14]:
opendata_project.isnull().any()

project_id                False
name_en                   False
name_th                   False
propertytype_id           False
propertytype_name_en      False
propertytype_name_th      False
price_min                  True
developer_id              False
developer_name_en          True
latitude                  False
longitude                  True
neighborhood_id            True
neighborhood_name_en       True
subdistrict_id             True
subdistrict_name_en        True
subdistrict_name_th        True
district_id                True
district_name_en           True
district_name_th           True
province_id                True
province_name_en           True
province_name_th           True
zipcode                    True
count_elevator             True
count_elevator_service     True
count_floor                True
count_parking              True
count_unit                 True
count_unittype             True
facility_clubhouse         True
facility_fitness           True
facility_meeting           True
facility_park              True
facility_playground        True
facility_pool              True
facility_security          True
dtype: bool

####dropna

In [15]:
# ' price_min ' ‡∏£‡∏≤‡∏Ñ‡∏≤‡∏ï‡πà‡∏≥‡∏™‡∏∏‡∏î‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£
print(len(opendata_project[opendata_project['price_min'].isnull()])) #we used dropna()
opendata_project = opendata_project.dropna(subset=['price_min'])

109

In [16]:
# ' longitude '
print(len(opendata_project[opendata_project['longitude'].isnull()]))
opendata_project = opendata_project.dropna(subset=['longitude'])

6

In [17]:
# 'subdistrict_id' ‡∏£‡∏´‡∏±‡∏™‡∏ï‡∏≥‡∏ö‡∏•
print(len(opendata_project[opendata_project['subdistrict_id'].isnull()])) 
opendata_project = opendata_project.dropna(subset=['subdistrict_id'])

16

In [18]:
# 'zipcode' ‡∏£‡∏´‡∏±‡∏™‡πÑ‡∏õ‡∏£‡∏©‡∏ì‡∏µ‡∏¢‡πå
print(len(opendata_project[opendata_project['zipcode'].isnull()])) 
opendata_project = opendata_project.dropna(subset=['zipcode'])

28

####fill Null with real world Knownlege

In [19]:
#fill NA with Text
opendata_project['developer_name_en'] = opendata_project['developer_name_en'].fillna('Unknown')
opendata_project['neighborhood_id'] = opendata_project['neighborhood_id'].fillna('Unknown') #‡∏£‡∏´‡∏±‡∏™‡∏¢‡πà‡∏≤‡∏ô 
opendata_project['neighborhood_name_en'] = opendata_project['neighborhood_name_en'].fillna('Unknown')

In [20]:
# ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏•‡∏¥‡∏ü‡∏ï‡πå‡πÅ‡∏•‡∏∞‡∏ä‡∏±‡πâ‡∏ô
opendata_project[['count_floor', 'count_unit','count_unittype']]  = opendata_project[['count_floor', 'count_unit','count_unittype']].fillna(1) #‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ä‡∏±‡πâ‡∏ô‡∏Ç‡∏≠‡∏á‡∏ï‡∏±‡∏ß‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£, ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏¢‡∏π‡∏ô‡∏¥‡∏ï‡πÉ‡∏ô‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£, ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏ö‡∏ö‡∏ö‡πâ‡∏≤‡∏ô‡πÉ‡∏ô‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£
opendata_project[['count_elevator','count_parking', 'count_elevator_service']] = opendata_project[['count_elevator','count_parking', 'count_elevator_service']].fillna(0)#‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏•‡∏¥‡∏ü‡∏ï‡πå‡πÇ‡∏î‡∏¢‡∏™‡∏≤‡∏£‡πÉ‡∏ô‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ó‡∏µ‡πà‡∏à‡∏≠‡∏î‡∏£‡∏ñ‡πÉ‡∏ô‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏•‡∏¥‡∏ü‡∏ï‡πå‡∏Ç‡∏ô‡∏Ç‡∏≠‡∏á‡πÉ‡∏ô‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£
# ‡∏™‡∏¥‡πà‡∏á‡∏≠‡∏≥‡∏ô‡∏ß‡∏¢‡∏Ñ‡∏ß‡∏≤‡∏°‡∏™‡∏∞‡∏î‡∏ß‡∏Å
opendata_project[['facility_clubhouse','facility_fitness','facility_meeting','facility_park','facility_playground','facility_pool','facility_security']] = opendata_project[['facility_clubhouse','facility_fitness','facility_meeting','facility_park','facility_playground','facility_pool','facility_security']].fillna(0)

In [21]:
# save data
opendata_project.to_csv('opendata_project_clean.csv', index=False)

## üìëopendata_unittype table

In [22]:
opendata_unittype = pd.read_csv('opendata_unittype.csv')
print(opendata_unittype.shape) # shown number of (row, column)
opendata_unittype.head()

(43385, 28)

,row_number,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,area_total_min_wa,area_usable_min,price_min,...,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility,date_created,date_updated,source,url_unittype,day
0,2032,unittype_19988,project_7861,1 Bedroom,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,31.0,3002000.0,...,NaN,NaN,NaN,NaN,NaN,2022-06-16 14:30:02,2022-06-16 14:15:26,baania,https://baania.com/th/project/‡πÑ‡∏•‡∏ü‡πå-‡∏£‡∏±‡∏ä‡∏î‡∏≤‡∏†‡∏¥‡πÄ‡∏©‡∏Å-...,2022-09-30
1,34437,unittype_37037,project_15918,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏î‡∏µ‡πà‡∏¢‡∏ß‡∏ä‡∏±‡πâ‡∏ô‡πÄ‡∏î‡∏µ‡∏¢‡∏ß,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,NaN,480.0,1700000.0,...,NaN,NaN,NaN,NaN,NaN,2020-12-04 10:45:20,2020-10-14 22:19:25,baania,https://baania.com/th/project/‡∏ò‡∏ô‡∏≤‡πÇ‡∏Æ‡∏°-‡∏≠‡∏∏‡∏î‡∏£‡∏ò‡∏≤‡∏ô‡∏µ-...,2022-09-30
2,29002,unittype_18897,project_6287,Studio,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,27.0,400000.0,...,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:33:39,2021-07-30 12:49:12,baania,https://baania.com/th/project/‡∏ò‡∏ô‡∏û‡∏•-‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î‡∏°‡∏¥‡πÄ‡∏ô‡∏µ‡∏¢...,2022-09-30
3,37984,unittype_39281,project_17150,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏î‡∏µ‡πà‡∏¢‡∏ß‡∏ä‡∏±‡πâ‡∏ô‡πÄ‡∏î‡∏µ‡∏¢‡∏ß,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,60.0,155.0,2490000.0,...,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:17:47,2020-01-16 16:13:43,baania,https://baania.com/th/project/‡∏ö‡πâ‡∏≤‡∏ô‡∏û‡∏∏‡∏ó‡∏ò‡∏£‡∏±‡∏Å‡∏©‡∏≤-‡∏™‡∏≤...,2022-09-30
4,24488,unittype_14987,project_4759,Studio Floor 5,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,40.0,367000.0,...,NaN,NaN,NaN,NaN,NaN,2021-11-12 13:21:17,2020-10-14 01:01:21,baania,https://baania.com/th/project/‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î‡∏â‡∏±‡∏ï‡∏£‡∏•‡∏î‡∏≤-2-4...,2022-09-30

### Select columns

In [23]:
opendata_unittype.columns

Index(['row_number', 'unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'area_total_min_wa',
       'area_usable_min', 'price_min', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility',
       'date_created', 'date_updated', 'source', 'url_unittype', 'day'],
      dtype='object')

In [24]:
opendata_unittype = opendata_unittype[['unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility']]
opendata_unittype.head()

,unittype_id,project_id,name_th,propertytype_id,propertytype_name_en,propertytype_name_th,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
0,unittype_19988,project_7861,1 Bedroom,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,NaN,NaN,NaN,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,unittype_37037,project_15918,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏î‡∏µ‡πà‡∏¢‡∏ß‡∏ä‡∏±‡πâ‡∏ô‡πÄ‡∏î‡∏µ‡∏¢‡∏ß,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,NaN,NaN,1.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,unittype_18897,project_6287,Studio,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,unittype_39281,project_17150,‡∏ö‡πâ‡∏≤‡∏ô‡πÄ‡∏î‡∏µ‡πà‡∏¢‡∏ß‡∏ä‡∏±‡πâ‡∏ô‡πÄ‡∏î‡∏µ‡∏¢‡∏ß,1,Detached House,‡∏ö‡πâ‡∏≤‡∏ô,NaN,NaN,1.0,1.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,unittype_14987,project_4759,Studio Floor 5,2,Condo,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,NaN,NaN,NaN,NaN,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### Missing/Null Checking

In [25]:
opendata_unittype.isnull().any()

unittype_id             False
project_id              False
name_th                  True
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
count_airconditioner     True
count_elevator           True
count_floor_internal     True
count_parking            True
count_room_bath          True
count_room_bed           True
count_room_dinning       True
count_room_guest         True
count_room_kitchen       True
count_room_living        True
count_room_maid          True
count_room_storage       True
count_room_utility       True
dtype: bool

####fill Null with real world Knownlege

In [26]:
#fill NA with Text
opendata_unittype['name_th'] = opendata_unittype['name_th'].fillna('Unknown')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [27]:
# ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ä‡∏±‡πâ‡∏ô‡πÉ‡∏ô‡∏ö‡πâ‡∏≤‡∏ô,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏´‡πâ‡∏≠‡∏á‡∏ô‡∏≠‡∏ô
opendata_unittype[['count_floor_internal','count_room_bed']]  = opendata_unittype[['count_floor_internal','count_room_bed']].fillna(1) 
# ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡πÅ‡∏≠‡∏£‡πå‡πÉ‡∏ô‡∏ö‡πâ‡∏≤‡∏ô,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏•‡∏¥‡∏ü‡∏ï‡πå,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏ó‡∏µ‡πà‡∏à‡∏≠‡∏î‡∏£‡∏ñ,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏´‡πâ‡∏≠‡∏á‡∏ô‡πâ‡∏≥,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏´‡πâ‡∏≠‡∏á‡∏ó‡∏≤‡∏ô‡∏Ç‡πâ‡∏≤‡∏ß‡∏°‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏´‡πâ‡∏≠‡∏á‡∏û‡∏±‡∏Å‡πÅ‡∏Ç‡∏Å,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏´‡πâ‡∏≠‡∏á‡∏Ñ‡∏£‡∏±‡∏ß,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏´‡πâ‡∏≠‡∏á‡∏ô‡∏±‡πà‡∏á‡πÄ‡∏•‡πà‡∏ô,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏´‡πâ‡∏≠‡∏á‡πÅ‡∏°‡πà‡∏ö‡πâ‡∏≤‡∏ô,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏´‡πâ‡∏≠‡∏á‡πÄ‡∏Å‡πá‡∏ö‡∏Ç‡∏≠‡∏á,‡∏à‡∏≥‡∏ô‡∏ß‡∏ô‡∏´‡πâ‡∏≠‡∏á‡∏ã‡∏±‡∏Å‡∏•‡πâ‡∏≤‡∏á
opendata_unittype[['count_airconditioner','count_elevator','count_parking','count_room_bath','count_room_dinning','count_room_guest','count_room_kitchen','count_room_living','count_room_maid','count_room_storage','count_room_utility',]]  = opendata_unittype[['count_airconditioner','count_elevator','count_parking','count_room_bath','count_room_dinning','count_room_guest','count_room_kitchen','count_room_living','count_room_maid','count_room_storage','count_room_utility',]].fillna(0)

In [28]:
opendata_unittype.isnull().any()

unittype_id             False
project_id              False
name_th                 False
propertytype_id         False
propertytype_name_en    False
propertytype_name_th    False
count_airconditioner    False
count_elevator          False
count_floor_internal    False
count_parking           False
count_room_bath         False
count_room_bed          False
count_room_dinning      False
count_room_guest        False
count_room_kitchen      False
count_room_living       False
count_room_maid         False
count_room_storage      False
count_room_utility      False
dtype: bool

In [29]:
# save data
opendata_unittype.to_csv('opendata_unittype_clean.csv', index=False)

## üìëopendata_eating_score table

In [30]:
opendata_eating_score = pd.read_csv('opendata_eating_score.csv')
print(opendata_eating_score.shape) 
opendata_eating_score.head()

(555, 20)

,row_number,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety,source,day
0,145,1007,CHANG KHLAN,‡∏ä‡πâ‡∏≤‡∏á‡∏Ñ‡∏•‡∏≤‡∏ô,1006,MUEANG CHIANG MAI,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà,1005,Chiang Mai,‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà,64.0,48.0,62.0,97.0,73.0,41.0,70.0,92.0,baania,2022-09-30
1,102,3941,BANG PHONGPHANG,‡∏ö‡∏≤‡∏á‡πÇ‡∏û‡∏á‡∏û‡∏≤‡∏á,3939,YAN NAWA,‡∏¢‡∏≤‡∏ô‡∏ô‡∏≤‡∏ß‡∏≤,3781,Bangkok,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,71.0,73.0,64.0,82.0,73.0,62.0,65.0,85.0,baania,2022-09-30
2,64,3829,CHIMPHLI,‡∏â‡∏¥‡∏°‡∏û‡∏•‡∏µ,3826,TALING CHAN,‡∏ï‡∏•‡∏¥‡πà‡∏á‡∏ä‡∏±‡∏ô,3781,Bangkok,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,73.0,84.0,65.0,72.0,70.0,77.0,60.0,73.0,baania,2022-09-30
3,96,3503,BANG DUAN,‡∏ö‡∏≤‡∏á‡∏î‡πâ‡∏ß‡∏ô,3499,MUEANG SAMUT PRAKAN,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,3498,Samut Prakan,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,79.0,93.0,93.0,21.0,62.0,76.0,69.0,49.0,baania,2022-09-30
4,17,2624,RAWAI,‡∏£‡∏≤‡πÑ‡∏ß‡∏¢‡πå,2617,MUEANG PHUKET,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏†‡∏π‡πÄ‡∏Å‡πá‡∏ï,2616,Phuket,‡∏†‡∏π‡πÄ‡∏Å‡πá‡∏ï,52.0,73.0,36.0,52.0,48.0,67.0,34.0,48.0,baania,2022-09-30

### Select columns

In [31]:
opendata_eating_score.columns

Index(['row_number', 'subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'eating_daytime', 'eating_daytime_price',
       'eating_daytime_quality', 'eating_daytime_variety', 'eating_nighttime',
       'eating_nighttime_price', 'eating_nighttime_quality',
       'eating_nighttime_variety', 'source', 'day'],
      dtype='object')

In [32]:
opendata_eating_score = opendata_eating_score[['subdistrict_id', 'subdistrict_name_en',
       'subdistrict_name_th', 'district_id', 'district_name_en',
       'district_name_th', 'province_id', 'province_name_en',
       'province_name_th', 'eating_daytime', 'eating_daytime_price',
       'eating_daytime_quality', 'eating_daytime_variety', 'eating_nighttime',
       'eating_nighttime_price', 'eating_nighttime_quality',
       'eating_nighttime_variety']]
opendata_eating_score.head()

,subdistrict_id,subdistrict_name_en,subdistrict_name_th,district_id,district_name_en,district_name_th,province_id,province_name_en,province_name_th,eating_daytime,eating_daytime_price,eating_daytime_quality,eating_daytime_variety,eating_nighttime,eating_nighttime_price,eating_nighttime_quality,eating_nighttime_variety
0,1007,CHANG KHLAN,‡∏ä‡πâ‡∏≤‡∏á‡∏Ñ‡∏•‡∏≤‡∏ô,1006,MUEANG CHIANG MAI,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà,1005,Chiang Mai,‡πÄ‡∏ä‡∏µ‡∏¢‡∏á‡πÉ‡∏´‡∏°‡πà,64.0,48.0,62.0,97.0,73.0,41.0,70.0,92.0
1,3941,BANG PHONGPHANG,‡∏ö‡∏≤‡∏á‡πÇ‡∏û‡∏á‡∏û‡∏≤‡∏á,3939,YAN NAWA,‡∏¢‡∏≤‡∏ô‡∏ô‡∏≤‡∏ß‡∏≤,3781,Bangkok,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,71.0,73.0,64.0,82.0,73.0,62.0,65.0,85.0
2,3829,CHIMPHLI,‡∏â‡∏¥‡∏°‡∏û‡∏•‡∏µ,3826,TALING CHAN,‡∏ï‡∏•‡∏¥‡πà‡∏á‡∏ä‡∏±‡∏ô,3781,Bangkok,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,73.0,84.0,65.0,72.0,70.0,77.0,60.0,73.0
3,3503,BANG DUAN,‡∏ö‡∏≤‡∏á‡∏î‡πâ‡∏ß‡∏ô,3499,MUEANG SAMUT PRAKAN,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,3498,Samut Prakan,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,79.0,93.0,93.0,21.0,62.0,76.0,69.0,49.0
4,2624,RAWAI,‡∏£‡∏≤‡πÑ‡∏ß‡∏¢‡πå,2617,MUEANG PHUKET,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏†‡∏π‡πÄ‡∏Å‡πá‡∏ï,2616,Phuket,‡∏†‡∏π‡πÄ‡∏Å‡πá‡∏ï,52.0,73.0,36.0,52.0,48.0,67.0,34.0,48.0

### Missing/Null Checking

In [33]:
opendata_eating_score.isnull().any()

subdistrict_id              False
subdistrict_name_en         False
subdistrict_name_th         False
district_id                 False
district_name_en            False
district_name_th            False
province_id                 False
province_name_en            False
province_name_th            False
eating_daytime              False
eating_daytime_price        False
eating_daytime_quality      False
eating_daytime_variety      False
eating_nighttime            False
eating_nighttime_price      False
eating_nighttime_quality    False
eating_nighttime_variety    False
dtype: bool

In [34]:
# save data
opendata_eating_score.to_csv('opendata_eating_score_clean.csv', index=False)

## üìëopendata_interest table

In [35]:
opendata_interest = pd.read_csv('opendata_interest.csv')
print(opendata_interest.shape) 
opendata_interest.head()

(1767, 12)

,row_number,transction_year,transction_month,province_name_th,province_name_en,district_name_th,district_name_en,propertytype_name_th,propertytype_name_en,volume_of_project,interest,day
0,1185,2020,6,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏Ñ‡∏•‡∏≠‡∏á‡πÄ‡∏ï‡∏¢,KHLONG TOEI,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,19,32,2022-09-30
1,369,2020,5,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,Nonthaburi,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,MUEANG NONTHABURI,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,81,555,2022-09-30
2,780,2019,2,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏´‡πâ‡∏ß‡∏¢‡∏Ç‡∏ß‡∏≤‡∏á,HUAI KHWANG,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,120,432,2022-09-30
3,1765,2019,7,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,Samut Prakan,‡∏û‡∏£‡∏∞‡∏õ‡∏£‡∏∞‡πÅ‡∏î‡∏á,PHRA PRADAENG,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,11,28,2022-09-30
4,1104,2020,1,‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,Pathum Thani,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,MUEANG PATHUM THANI,‡∏ö‡πâ‡∏≤‡∏ô,Detached House,210,1405,2022-09-30

###Select columns

In [36]:
opendata_interest.columns

Index(['row_number', 'transction_year', 'transction_month', 'province_name_th',
       'province_name_en', 'district_name_th', 'district_name_en',
       'propertytype_name_th', 'propertytype_name_en', 'volume_of_project',
       'interest', 'day'],
      dtype='object')

In [37]:
opendata_interest = opendata_interest[['transction_year', 'transction_month', 'province_name_th',
       'province_name_en', 'district_name_th', 'district_name_en',
       'propertytype_name_th', 'propertytype_name_en', 'volume_of_project',
       'interest']]
opendata_interest.head(10)

,transction_year,transction_month,province_name_th,province_name_en,district_name_th,district_name_en,propertytype_name_th,propertytype_name_en,volume_of_project,interest
0,2020,6,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏Ñ‡∏•‡∏≠‡∏á‡πÄ‡∏ï‡∏¢,KHLONG TOEI,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,19,32
1,2020,5,‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,Nonthaburi,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏ô‡∏ô‡∏ó‡∏ö‡∏∏‡∏£‡∏µ,MUEANG NONTHABURI,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,81,555
2,2019,2,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏´‡πâ‡∏ß‡∏¢‡∏Ç‡∏ß‡∏≤‡∏á,HUAI KHWANG,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,120,432
3,2019,7,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,Samut Prakan,‡∏û‡∏£‡∏∞‡∏õ‡∏£‡∏∞‡πÅ‡∏î‡∏á,PHRA PRADAENG,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,11,28
4,2020,1,‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,Pathum Thani,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,MUEANG PATHUM THANI,‡∏ö‡πâ‡∏≤‡∏ô,Detached House,210,1405
5,2021,9,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡πÄ‡∏Ç‡∏ô,BANG KHEN,‡∏ö‡πâ‡∏≤‡∏ô‡πÅ‡∏ù‡∏î,Twin house,3,15
6,2020,3,‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,Pathum Thani,‡∏•‡∏≥‡∏•‡∏π‡∏Å‡∏Å‡∏≤,LAM LUK KA,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,59,353
7,2020,9,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏ô‡∏≤,BANG NA,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,8,13
8,2020,5,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏ö‡∏≠‡∏ô,BANG BON,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,74,197
9,2020,3,‡∏õ‡∏ó‡∏∏‡∏°‡∏ò‡∏≤‡∏ô‡∏µ,Pathum Thani,‡∏ò‡∏±‡∏ç‡∏ö‡∏∏‡∏£‡∏µ,THANYABURI,‡∏ö‡πâ‡∏≤‡∏ô‡πÅ‡∏ù‡∏î,Twin house,102,1174

### Missing/Null Checking

In [38]:
opendata_interest.isnull().any()

transction_year         False
transction_month        False
province_name_th        False
province_name_en        False
district_name_th        False
district_name_en        False
propertytype_name_th    False
propertytype_name_en    False
volume_of_project       False
interest                False
dtype: bool

In [39]:
# save data
opendata_interest.to_csv('opendata_interest_clean.csv', index=False)

##üìëopendata_volume_listing table

In [40]:
opendata_volume_listing = pd.read_csv('opendata_volume_listing.csv')
print(opendata_volume_listing.shape) 
opendata_volume_listing.head()

(2212, 11)

,row_number,transction_year,transction_month,listing_province_name_th,listing_province_name_en,listing_district_name_th,listing_district_name_en,project_propertytype_name_th,project_propertytype_name_en,volume_of_sale,day
0,354,2021,6,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,SAMUT PRAKAN,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,MUEANG SAMUT PRAKAN,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,643,2022-09-30
1,2058,2021,11,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,BANGKOK,‡∏û‡∏£‡∏∞‡∏ô‡∏Ñ‡∏£,PHRA NAKHON,‡∏ö‡πâ‡∏≤‡∏ô‡πÅ‡∏ù‡∏î,Twin house,19,2022-09-30
2,305,2021,11,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,BANGKOK,‡∏ß‡∏±‡∏á‡∏ó‡∏≠‡∏á‡∏´‡∏•‡∏≤‡∏á,WANG THONGLANG,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,279,2022-09-30
3,1831,2021,5,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,SAMUT PRAKAN,‡∏ö‡∏≤‡∏á‡∏û‡∏•‡∏µ,BANG PHLI,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,24,2022-09-30
4,116,2021,5,‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,SAMUT PRAKAN,‡πÄ‡∏°‡∏∑‡∏≠‡∏á‡∏™‡∏°‡∏∏‡∏ó‡∏£‡∏õ‡∏£‡∏≤‡∏Å‡∏≤‡∏£,MUEANG SAMUT PRAKAN,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,472,2022-09-30

###Select columns

In [41]:
opendata_volume_listing.columns

Index(['row_number', 'transction_year', 'transction_month',
       'listing_province_name_th', 'listing_province_name_en',
       'listing_district_name_th', 'listing_district_name_en',
       'project_propertytype_name_th', 'project_propertytype_name_en',
       'volume_of_sale', 'day'],
      dtype='object')

In [42]:
opendata_volume_listing = opendata_volume_listing[[
    'transction_year', 'transction_month',
       'listing_province_name_th', 'listing_province_name_en',
       'listing_district_name_th', 'listing_district_name_en',
       'project_propertytype_name_th', 'project_propertytype_name_en',
       'volume_of_sale']]

### Missing/Null Checking

In [43]:
opendata_volume_listing.isnull().any()

transction_year                 False
transction_month                False
listing_province_name_th        False
listing_province_name_en        False
listing_district_name_th        False
listing_district_name_en        False
project_propertytype_name_th    False
project_propertytype_name_en    False
volume_of_sale                  False
dtype: bool

In [44]:
# save data
opendata_volume_listing.to_csv('opendata_volume_listing_clean.csv', index=False)

# üîóMerge tables

In [45]:
import pandas as pd
opendata_project_clean = pd.read_csv('opendata_project_clean.csv')
opendata_unittype_clean = pd.read_csv('opendata_unittype_clean.csv') #‡∏ï‡∏≤‡∏£‡∏≤‡∏á‡∏´‡∏•‡∏±‡∏Å
opendata_eating_score_clean = pd.read_csv('opendata_eating_score_clean.csv')
opendata_interest_clean = pd.read_csv('opendata_interest_clean.csv')
opendata_volume_listing_clean = pd.read_csv('opendata_volume_listing_clean.csv')

## 1] ‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á opendata_unittype_clean ‡πÄ‡∏Ç‡πâ‡∏≤‡∏Å‡∏±‡∏ö opendata_project_clean

*‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏´‡∏ï‡∏∏* * ‡∏û‡∏¥‡∏à‡∏≤‡∏£‡∏ì‡∏≤‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏™‡∏ô‡πÉ‡∏à ‡∏´‡∏£‡∏∑‡∏≠‡∏≠‡∏≤‡∏à‡∏ã‡πâ‡∏≠‡∏ô‡∏ó‡∏±‡∏ö‡∏Å‡∏±‡∏ô‡∏Å‡πà‡∏≠‡∏ô‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á

In [46]:
opendata_unittype_clean.columns

Index(['unittype_id', 'project_id', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility'],
      dtype='object')

In [47]:
opendata_project_clean.columns

Index(['project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'latitude', 'longitude',
       'neighborhood_id', 'neighborhood_name_en', 'subdistrict_id',
       'subdistrict_name_en', 'subdistrict_name_th', 'district_id',
       'district_name_en', 'district_name_th', 'province_id',
       'province_name_en', 'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_unit',
       'count_unittype', 'facility_clubhouse', 'facility_fitness',
       'facility_meeting', 'facility_park', 'facility_playground',
       'facility_pool', 'facility_security'],
      dtype='object')

In [48]:
# select columns 
opendata_unittype_clean = opendata_unittype_clean[['unittype_id', 'project_id','count_airconditioner',
       'count_elevator', 'count_floor_internal', 'count_parking',
       'count_room_bath', 'count_room_bed', 'count_room_dinning',
       'count_room_guest', 'count_room_kitchen', 'count_room_living',
       'count_room_maid', 'count_room_storage', 'count_room_utility']]
opendata_unittype_clean.head(3)

,unittype_id,project_id,count_airconditioner,count_elevator,count_floor_internal,count_parking,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
0,unittype_19988,project_7861,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,unittype_37037,project_15918,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,unittype_18897,project_6287,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [49]:
#‡∏û‡∏ö‡∏ß‡πà‡∏≤‡∏ä‡∏∑‡πà‡∏≠ columns ‡∏ã‡πâ‡∏≥‡∏Å‡∏±‡∏ô
# count_parking
# count_elevator

#‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏ä‡∏∑‡πà‡∏≠ columns
opendata_unittype_clean.rename(columns={'count_parking': 'count_parking_unittype', 'count_elevator': 'count_elevator_unittype'}, inplace=True)
opendata_unittype_clean.head(3)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

,unittype_id,project_id,count_airconditioner,count_elevator_unittype,count_floor_internal,count_parking_unittype,count_room_bath,count_room_bed,count_room_dinning,count_room_guest,count_room_kitchen,count_room_living,count_room_maid,count_room_storage,count_room_utility
0,unittype_19988,project_7861,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,unittype_37037,project_15918,0.0,0.0,1.0,1.0,2.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,unittype_18897,project_6287,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
# merge
table_merge = opendata_project_clean.merge(opendata_unittype_clean, how ='left', left_on='project_id',right_on='project_id') 
print(table_merge.shape)

(54604, 50)

In [51]:
# missing/null checking
table_merge.isnull().any()

project_id                 False
name_en                    False
name_th                    False
propertytype_id            False
propertytype_name_en       False
propertytype_name_th       False
price_min                  False
developer_id               False
developer_name_en          False
latitude                   False
longitude                  False
neighborhood_id            False
neighborhood_name_en       False
subdistrict_id             False
subdistrict_name_en        False
subdistrict_name_th        False
district_id                False
district_name_en           False
district_name_th           False
province_id                False
province_name_en           False
province_name_th           False
zipcode                    False
count_elevator             False
count_elevator_service     False
count_floor                False
count_parking              False
count_unit                 False
count_unittype             False
facility_clubhouse         False
facility_fitness           False
facility_meeting           False
facility_park              False
facility_playground        False
facility_pool              False
facility_security          False
unittype_id                False
count_airconditioner       False
count_elevator_unittype    False
count_floor_internal       False
count_parking_unittype     False
count_room_bath            False
count_room_bed             False
count_room_dinning         False
count_room_guest           False
count_room_kitchen         False
count_room_living          False
count_room_maid            False
count_room_storage         False
count_room_utility         False
dtype: bool

##  2] ‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á table_merge ‡πÄ‡∏Ç‡πâ‡∏≤‡∏Å‡∏±‡∏ö opendata_eating_score_clean

*‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏´‡∏ï‡∏∏* * ‡∏û‡∏¥‡∏à‡∏≤‡∏£‡∏ì‡∏≤‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏™‡∏ô‡πÉ‡∏à ‡∏´‡∏£‡∏∑‡∏≠‡∏≠‡∏≤‡∏à‡∏ã‡πâ‡∏≠‡∏ô‡∏ó‡∏±‡∏ö‡∏Å‡∏±‡∏ô‡∏Å‡πà‡∏≠‡∏ô‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á

In [52]:
table_merge.columns

Index(['project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'latitude', 'longitude',
       'neighborhood_id', 'neighborhood_name_en', 'subdistrict_id',
       'subdistrict_name_en', 'subdistrict_name_th', 'district_id',
       'district_name_en', 'district_name_th', 'province_id',
       'province_name_en', 'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_unit',
       'count_unittype', 'facility_clubhouse', 'facility_fitness',
       'facility_meeting', 'facility_park', 'facility_playground',
       'facility_pool', 'facility_security', 'unittype_id',
       'count_airconditioner', 'count_elevator_unittype',
       'count_floor_internal', 'count_parking_unittype', 'count_room_bath',
       'count_room_bed', 'count_room_dinning', 'count_room_guest',
       'count_room_kitchen', 'count_room_living', 'count_room_maid',
       'count_room_storage', 'count_room_utility'],
      dtype='object')

In [53]:
opendata_eating_score_clean.columns

Index(['subdistrict_id', 'subdistrict_name_en', 'subdistrict_name_th',
       'district_id', 'district_name_en', 'district_name_th', 'province_id',
       'province_name_en', 'province_name_th', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality',
       'eating_daytime_variety', 'eating_nighttime', 'eating_nighttime_price',
       'eating_nighttime_quality', 'eating_nighttime_variety'],
      dtype='object')

In [54]:
# select columns 
opendata_eating_score_clean = opendata_eating_score_clean[['subdistrict_id', 'district_id','province_id', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality','eating_daytime_variety', 'eating_nighttime', 
       'eating_nighttime_price', 'eating_nighttime_quality', 'eating_nighttime_variety']]

In [55]:
len(set(opendata_eating_score_clean['province_id'])) #Location scope - ‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û ‡∏õ‡∏£‡∏¥‡∏°‡∏ì‡∏ë‡∏•

10

In [56]:
len(set(table_merge['province_id']))#Location scope - All

72

In [57]:
# merge
table_merge2 = table_merge.merge(opendata_eating_score_clean, how ='left', left_on=['subdistrict_id','district_id','province_id',], right_on=['subdistrict_id','district_id','province_id',]) 
print(table_merge2.shape)

(54604, 58)

#### Missing/Null Checking

In [58]:
table_merge2.isnull().any()

project_id                  False
name_en                     False
name_th                     False
propertytype_id             False
propertytype_name_en        False
propertytype_name_th        False
price_min                   False
developer_id                False
developer_name_en           False
latitude                    False
longitude                   False
neighborhood_id             False
neighborhood_name_en        False
subdistrict_id              False
subdistrict_name_en         False
subdistrict_name_th         False
district_id                 False
district_name_en            False
district_name_th            False
province_id                 False
province_name_en            False
province_name_th            False
zipcode                     False
count_elevator              False
count_elevator_service      False
count_floor                 False
count_parking               False
count_unit                  False
count_unittype              False
facility_clubhouse          False
facility_fitness            False
facility_meeting            False
facility_park               False
facility_playground         False
facility_pool               False
facility_security           False
unittype_id                 False
count_airconditioner        False
count_elevator_unittype     False
count_floor_internal        False
count_parking_unittype      False
count_room_bath             False
count_room_bed              False
count_room_dinning          False
count_room_guest            False
count_room_kitchen          False
count_room_living           False
count_room_maid             False
count_room_storage          False
count_room_utility          False
eating_daytime               True
eating_daytime_price         True
eating_daytime_quality       True
eating_daytime_variety       True
eating_nighttime             True
eating_nighttime_price       True
eating_nighttime_quality     True
eating_nighttime_variety     True
dtype: bool

In [59]:
# ' eating_daytime ' ‡∏Ñ‡∏∞‡πÅ‡∏ô‡∏ô‡∏Å‡∏≤‡∏£‡∏Å‡∏¥‡∏ô ‡∏î‡πâ‡∏≤‡∏ô‡∏£‡∏≤‡∏Ñ‡∏≤ ‡∏ä‡πà‡∏ß‡∏á‡∏Å‡∏•‡∏≤‡∏á‡∏ß‡∏±‡∏ô
print(len(table_merge2[table_merge2['eating_daytime'].isnull()]))

11169

In [60]:
len(table_merge2) #‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ó‡∏±‡πâ‡∏á‡∏´‡∏°‡∏î

54604

In [61]:
# we used fill Null with 0 
table_merge2 = table_merge2.fillna(0)

In [62]:
# missing/null checking
table_merge2.isnull().any()

project_id                  False
name_en                     False
name_th                     False
propertytype_id             False
propertytype_name_en        False
propertytype_name_th        False
price_min                   False
developer_id                False
developer_name_en           False
latitude                    False
longitude                   False
neighborhood_id             False
neighborhood_name_en        False
subdistrict_id              False
subdistrict_name_en         False
subdistrict_name_th         False
district_id                 False
district_name_en            False
district_name_th            False
province_id                 False
province_name_en            False
province_name_th            False
zipcode                     False
count_elevator              False
count_elevator_service      False
count_floor                 False
count_parking               False
count_unit                  False
count_unittype              False
facility_clubhouse          False
facility_fitness            False
facility_meeting            False
facility_park               False
facility_playground         False
facility_pool               False
facility_security           False
unittype_id                 False
count_airconditioner        False
count_elevator_unittype     False
count_floor_internal        False
count_parking_unittype      False
count_room_bath             False
count_room_bed              False
count_room_dinning          False
count_room_guest            False
count_room_kitchen          False
count_room_living           False
count_room_maid             False
count_room_storage          False
count_room_utility          False
eating_daytime              False
eating_daytime_price        False
eating_daytime_quality      False
eating_daytime_variety      False
eating_nighttime            False
eating_nighttime_price      False
eating_nighttime_quality    False
eating_nighttime_variety    False
dtype: bool

##  3] ‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á table_merge2 ‡πÄ‡∏Ç‡πâ‡∏≤‡∏Å‡∏±‡∏ö opendata_interest_clean

*‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏´‡∏ï‡∏∏* * ‡∏û‡∏¥‡∏à‡∏≤‡∏£‡∏ì‡∏≤‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏™‡∏ô‡πÉ‡∏à ‡∏´‡∏£‡∏∑‡∏≠‡∏≠‡∏≤‡∏à‡∏ã‡πâ‡∏≠‡∏ô‡∏ó‡∏±‡∏ö‡∏Å‡∏±‡∏ô‡∏Å‡πà‡∏≠‡∏ô‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á

In [63]:
table_merge2.columns

Index(['project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'latitude', 'longitude',
       'neighborhood_id', 'neighborhood_name_en', 'subdistrict_id',
       'subdistrict_name_en', 'subdistrict_name_th', 'district_id',
       'district_name_en', 'district_name_th', 'province_id',
       'province_name_en', 'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_unit',
       'count_unittype', 'facility_clubhouse', 'facility_fitness',
       'facility_meeting', 'facility_park', 'facility_playground',
       'facility_pool', 'facility_security', 'unittype_id',
       'count_airconditioner', 'count_elevator_unittype',
       'count_floor_internal', 'count_parking_unittype', 'count_room_bath',
       'count_room_bed', 'count_room_dinning', 'count_room_guest',
       'count_room_kitchen', 'count_room_living', 'count_room_maid',
       'count_room_storage', 'count_room_utility', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality',
       'eating_daytime_variety', 'eating_nighttime', 'eating_nighttime_price',
       'eating_nighttime_quality', 'eating_nighttime_variety'],
      dtype='object')

In [64]:
opendata_interest_clean.columns

Index(['transction_year', 'transction_month', 'province_name_th',
       'province_name_en', 'district_name_th', 'district_name_en',
       'propertytype_name_th', 'propertytype_name_en', 'volume_of_project',
       'interest'],
      dtype='object')

In [65]:
#‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡∏Å‡∏±‡∏ödata
opendata_interest_clean[(opendata_interest_clean['province_name_en']=='Bangkok') & (opendata_interest['district_name_en']=='BANG BON') & (opendata_interest['propertytype_name_en']=='Townhome')]
#‡∏à‡∏≤‡∏Å‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå‡∏ó‡∏µ‡πà‡πÑ‡∏î‡πâ‡∏à‡∏∂‡∏á‡∏™‡∏±‡∏ô‡∏ô‡∏¥‡∏ê‡∏≤‡∏ô‡∏ß‡πà‡∏≤‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ô‡πà‡∏≤‡∏à‡∏∞‡∏°‡∏µ‡∏Å‡∏≤‡∏£‡πÄ‡∏Å‡πá‡∏ö‡πÄ‡∏õ‡πá‡∏ô‡∏ä‡πà‡∏ß‡∏á‡πÄ‡∏ß‡∏•‡∏≤

,transction_year,transction_month,province_name_th,province_name_en,district_name_th,district_name_en,propertytype_name_th,propertytype_name_en,volume_of_project,interest
8,2020,5,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏ö‡∏≠‡∏ô,BANG BON,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,74,197
347,2019,7,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏ö‡∏≠‡∏ô,BANG BON,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,65,753
901,2020,11,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏ö‡∏≠‡∏ô,BANG BON,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,25,249
1170,2020,1,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏ö‡∏≠‡∏ô,BANG BON,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,46,302
1495,2020,4,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏ö‡∏≠‡∏ô,BANG BON,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,43,202
1596,2019,6,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏ö‡∏≠‡∏ô,BANG BON,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,46,84
1657,2021,5,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏ö‡∏≠‡∏ô,BANG BON,‡∏ó‡∏≤‡∏ß‡∏ô‡πå‡πÇ‡∏Æ‡∏°,Townhome,20,44

In [66]:
#‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡∏Å‡∏±‡∏ödata
#'interest' ‡∏à‡∏≥‡∏ô‡∏ß‡∏ô Pageview ‡∏ó‡∏µ‡πà‡πÄ‡∏Ç‡πâ‡∏≤‡∏°‡∏≤‡∏î‡∏π‡πÇ‡∏Ñ‡∏£‡∏á‡∏Å‡∏≤‡∏£
opendata_interest_clean2 = opendata_interest_clean.groupby(['province_name_en','district_name_en','propertytype_name_en'])['interest'].sum().reset_index()
opendata_interest_clean2

    province_name_en  district_name_en propertytype_name_en  interest
0            Bangkok          BANG BON                Condo       239
1            Bangkok          BANG BON       Detached House      1447
2            Bangkok          BANG BON          Home office       113
3            Bangkok          BANG BON             Townhome      1831
4            Bangkok          BANG BON           Twin house        23
..               ...               ...                  ...       ...
311     Samut Prakan  PHRA SAMUT CHEDI           Commercial      3787
312     Samut Prakan  PHRA SAMUT CHEDI                Condo        71
313     Samut Prakan  PHRA SAMUT CHEDI       Detached House      6254
314     Samut Prakan  PHRA SAMUT CHEDI             Townhome     30158
315     Samut Prakan  PHRA SAMUT CHEDI           Twin house     10879

[316 rows x 4 columns]

In [67]:
# select columns 
opendata_interest_clean2 = opendata_interest_clean2[[
       'province_name_en', 'district_name_en',
        'propertytype_name_en', 
       'interest']]

In [68]:
# merge
table_merge3 = table_merge2.merge(opendata_interest_clean2, how ='left', left_on=['province_name_en','district_name_en','propertytype_name_en',], right_on=['province_name_en','district_name_en','propertytype_name_en',]) 
print(table_merge3.shape)

(54604, 59)

In [69]:
table_merge3.columns

Index(['project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'latitude', 'longitude',
       'neighborhood_id', 'neighborhood_name_en', 'subdistrict_id',
       'subdistrict_name_en', 'subdistrict_name_th', 'district_id',
       'district_name_en', 'district_name_th', 'province_id',
       'province_name_en', 'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_unit',
       'count_unittype', 'facility_clubhouse', 'facility_fitness',
       'facility_meeting', 'facility_park', 'facility_playground',
       'facility_pool', 'facility_security', 'unittype_id',
       'count_airconditioner', 'count_elevator_unittype',
       'count_floor_internal', 'count_parking_unittype', 'count_room_bath',
       'count_room_bed', 'count_room_dinning', 'count_room_guest',
       'count_room_kitchen', 'count_room_living', 'count_room_maid',
       'count_room_storage', 'count_room_utility', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality',
       'eating_daytime_variety', 'eating_nighttime', 'eating_nighttime_price',
       'eating_nighttime_quality', 'eating_nighttime_variety', 'interest'],
      dtype='object')

#### Missing/Null Checking

In [70]:
table_merge3.isnull().any()

project_id                  False
name_en                     False
name_th                     False
propertytype_id             False
propertytype_name_en        False
propertytype_name_th        False
price_min                   False
developer_id                False
developer_name_en           False
latitude                    False
longitude                   False
neighborhood_id             False
neighborhood_name_en        False
subdistrict_id              False
subdistrict_name_en         False
subdistrict_name_th         False
district_id                 False
district_name_en            False
district_name_th            False
province_id                 False
province_name_en            False
province_name_th            False
zipcode                     False
count_elevator              False
count_elevator_service      False
count_floor                 False
count_parking               False
count_unit                  False
count_unittype              False
facility_clubhouse          False
facility_fitness            False
facility_meeting            False
facility_park               False
facility_playground         False
facility_pool               False
facility_security           False
unittype_id                 False
count_airconditioner        False
count_elevator_unittype     False
count_floor_internal        False
count_parking_unittype      False
count_room_bath             False
count_room_bed              False
count_room_dinning          False
count_room_guest            False
count_room_kitchen          False
count_room_living           False
count_room_maid             False
count_room_storage          False
count_room_utility          False
eating_daytime              False
eating_daytime_price        False
eating_daytime_quality      False
eating_daytime_variety      False
eating_nighttime            False
eating_nighttime_price      False
eating_nighttime_quality    False
eating_nighttime_variety    False
interest                     True
dtype: bool

In [71]:
#we used fill Null with 0 
table_merge3 = table_merge3.fillna(0)

##  4] ‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á table_merge3 ‡πÄ‡∏Ç‡πâ‡∏≤‡∏Å‡∏±‡∏ö opendata_volume_listing_clean

*‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏´‡∏ï‡∏∏* * ‡∏û‡∏¥‡∏à‡∏≤‡∏£‡∏ì‡∏≤‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏™‡∏ô‡πÉ‡∏à ‡∏´‡∏£‡∏∑‡∏≠‡∏≠‡∏≤‡∏à‡∏ã‡πâ‡∏≠‡∏ô‡∏ó‡∏±‡∏ö‡∏Å‡∏±‡∏ô‡∏Å‡πà‡∏≠‡∏ô‡∏£‡∏ß‡∏°‡∏ï‡∏≤‡∏£‡∏≤‡∏á

In [72]:
table_merge3.columns

Index(['project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'latitude', 'longitude',
       'neighborhood_id', 'neighborhood_name_en', 'subdistrict_id',
       'subdistrict_name_en', 'subdistrict_name_th', 'district_id',
       'district_name_en', 'district_name_th', 'province_id',
       'province_name_en', 'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_unit',
       'count_unittype', 'facility_clubhouse', 'facility_fitness',
       'facility_meeting', 'facility_park', 'facility_playground',
       'facility_pool', 'facility_security', 'unittype_id',
       'count_airconditioner', 'count_elevator_unittype',
       'count_floor_internal', 'count_parking_unittype', 'count_room_bath',
       'count_room_bed', 'count_room_dinning', 'count_room_guest',
       'count_room_kitchen', 'count_room_living', 'count_room_maid',
       'count_room_storage', 'count_room_utility', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality',
       'eating_daytime_variety', 'eating_nighttime', 'eating_nighttime_price',
       'eating_nighttime_quality', 'eating_nighttime_variety', 'interest'],
      dtype='object')

In [73]:
opendata_volume_listing_clean.columns

Index(['transction_year', 'transction_month', 'listing_province_name_th',
       'listing_province_name_en', 'listing_district_name_th',
       'listing_district_name_en', 'project_propertytype_name_th',
       'project_propertytype_name_en', 'volume_of_sale'],
      dtype='object')

In [74]:
#‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡∏Å‡∏±‡∏ödata
#‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏ä‡∏∑‡πà‡∏≠‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå‡∏ó‡∏µ‡πà‡∏°‡∏µ‡∏Ñ‡∏ß‡∏≤‡∏°‡∏´‡∏°‡∏≤‡∏¢‡πÄ‡∏î‡∏µ‡∏¢‡∏ß‡∏Å‡∏±‡∏ô‡πÉ‡∏´‡πâ‡πÄ‡∏´‡∏°‡∏∑‡∏≠‡∏ô‡∏Å‡∏±‡∏ô
opendata_volume_listing_clean.rename(columns={'listing_province_name_en': 'province_name_en', 'listing_district_name_en': 'district_name_en','project_propertytype_name_en': 'propertytype_name_en'}, inplace=True)

In [75]:
#‡∏î‡∏π‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡∏ó‡∏µ‡πà‡πÑ‡∏°‡πà‡∏ã‡πâ‡∏≥‡∏Å‡∏±‡∏ô‡πÉ‡∏ô‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå'province_name_en' ‡∏Ç‡∏≠‡∏á‡∏ï‡∏≤‡∏£‡∏≤‡∏áopendata_volume_listing_clean‡πÅ‡∏•‡∏∞
print(set(opendata_volume_listing_clean['province_name_en']))
print(set(table_merge3['province_name_en']))

{'NAKHON PATHOM', 'SAMUT PRAKAN', 'BANGKOK', 'NONTHABURI', 'PATHUM THANI'}
{'Nakhon Nayok', 'Samut Sakhon', 'Phra Nakhon Si Ayutthaya', 'Chaiyaphum', 'Sakon Nakhon', 'Ratchaburi', 'Pattani', 'Chiang Mai', 'Nonthaburi', 'Nakhon Sawan', 'Nakhon Ratchasima', 'Samut Songkhram', 'Amnat Charoen', 'Phetchabun', 'Samut Prakan', 'Ubon Ratchathani', 'Nong Khai', 'Udon Thani', 'Nong Bua Lam Phu', 'Kalasin', 'Lopburi', 'Maha Sarakham', 'Chon Buri', 'Chumphon', 'Phichit', 'Lampang', 'Roi Et', 'Trang', 'Pathum Thani', 'Phayao', 'Uttaradit', 'Ranong', 'Prachuap Khiri Khan', 'Prachin Buri', 'Nakhon Pathom', 'Phrae', 'Kanchanaburi', 'Krabi', 'Saraburi', 'Yasothon', 'Chachoengsao', 'Bangkok', 'Phuket', 'Tak', 'Bung Kan', 'Sing Buri', 'Surin', 'Nakhon Phanom', 'Phitsanulok', 'Mukdahan', 'Sa Kaeo', 'Nan', 'Phatthalung', 'Phetchaburi', 'Khon Kaen', 'Phangnga', 'Trat', 'Kamphaeng Phet', 'Rayong', 'Sukhothai', 'Loei', 'Surat Thani', 'Mae Hong Son', 'Ang Thong', 'Songkhla', 'Chiang Rai', 'Suphan Buri', 'Buri Ram', 'Si Sa Ket', 'Lamphun', 'Nakhon Si Thammarat', 'Chanthaburi'}

In [76]:
#‡πÄ‡∏õ‡∏•‡∏µ‡πà‡∏¢‡∏ô‡∏ä‡∏∑‡πà‡∏≠‡∏à‡∏±‡∏á‡∏´‡∏ß‡∏±‡∏î‡πÉ‡∏ô‡∏Ñ‡∏≠‡∏•‡∏±‡∏°‡∏ô‡πå 'province_name_en' ‡πÉ‡∏´‡πâ‡∏ï‡∏£‡∏á‡∏Å‡∏±‡∏ô
opendata_volume_listing_clean.loc[opendata_volume_listing_clean['province_name_en'] =='BANGKOK', 'province_name_en'] = 'Bangkok'
opendata_volume_listing_clean.loc[opendata_volume_listing_clean['province_name_en'] =='PATHUM THANI', 'province_name_en'] = 'Pathum Thani'
opendata_volume_listing_clean.loc[opendata_volume_listing_clean['province_name_en'] =='SAMUT PRAKAN', 'province_name_en'] = 'Samut Prakan'
opendata_volume_listing_clean.loc[opendata_volume_listing_clean['province_name_en'] =='NAKHON PATHOM', 'province_name_en'] = 'Nakhon Pathom'
opendata_volume_listing_clean.loc[opendata_volume_listing_clean['province_name_en'] =='NONTHABURI', 'province_name_en'] = 'Nonthaburi'

In [77]:
#‡∏à‡∏±‡∏î‡∏Å‡∏≤‡∏£‡∏Å‡∏±‡∏ödata
opendata_volume_listing_clean[(opendata_volume_listing_clean['province_name_en']=='Bangkok') & (opendata_volume_listing_clean['district_name_en']=='BANG KAPI') & (opendata_volume_listing_clean['propertytype_name_en']=='Condo')]
#‡∏à‡∏≤‡∏Å‡∏ú‡∏•‡∏•‡∏±‡∏û‡∏ò‡πå‡∏ó‡∏µ‡πà‡πÑ‡∏î‡πâ‡∏à‡∏∂‡∏á‡∏™‡∏±‡∏ô‡∏ô‡∏¥‡∏ê‡∏≤‡∏ô‡∏ß‡πà‡∏≤‡∏Ç‡πâ‡∏≠‡∏°‡∏π‡∏•‡∏ô‡πà‡∏≤‡∏à‡∏∞‡∏°‡∏µ‡∏Å‡∏≤‡∏£‡πÄ‡∏Å‡πá‡∏ö‡πÄ‡∏õ‡πá‡∏ô‡∏ä‡πà‡∏ß‡∏á‡πÄ‡∏ß‡∏•‡∏≤

,transction_year,transction_month,listing_province_name_th,province_name_en,listing_district_name_th,district_name_en,project_propertytype_name_th,propertytype_name_en,volume_of_sale
84,2021,9,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,458
176,2020,2,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,61
223,2021,1,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,311
365,2019,2,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,42
393,2019,6,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,106
442,2019,5,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,65
461,2020,8,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,196
469,2020,11,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,140
558,2019,9,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,128
655,2020,4,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,40
728,2019,3,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,46
745,2021,7,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,348
946,2019,4,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,66
947,2021,12,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,437
1001,2019,12,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,45
1149,2022,1,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,440
1158,2020,9,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,77
1323,2022,2,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,102
1352,2019,1,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,27
1455,2019,8,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,115
1521,2021,3,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,297
1535,2020,12,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,377
1599,2020,3,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,86
1635,2021,5,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,430
1692,2020,6,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,61
1820,2021,11,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,656
1826,2021,6,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,427
1833,2020,1,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,61
1884,2020,5,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,66
1903,2021,10,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,301
1904,2021,2,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,279
1982,2020,10,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,115
2047,2019,10,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,478
2125,2019,7,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,106
2161,2021,4,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,309
2178,2019,11,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,666
2200,2021,8,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,490
2201,2020,7,‡∏Å‡∏£‡∏∏‡∏á‡πÄ‡∏ó‡∏û‡∏°‡∏´‡∏≤‡∏ô‡∏Ñ‡∏£,Bangkok,‡∏ö‡∏≤‡∏á‡∏Å‡∏∞‡∏õ‡∏¥,BANG KAPI,‡∏Ñ‡∏≠‡∏ô‡πÇ‡∏î,Condo,64

In [78]:
#'volume_of_sale' 	‡∏à‡∏≥‡∏ô‡∏ß‡∏ô ‡∏õ‡∏£‡∏∞‡∏Å‡∏≤‡∏®‡∏Ç‡∏≤‡∏¢‡∏ó‡∏µ‡πà‡∏≠‡∏¢‡∏π‡πà‡∏≠‡∏≤‡∏®‡∏±‡∏¢‡πÉ‡∏ô‡∏û‡∏∑‡πâ‡∏ô‡∏ó‡∏µ‡πà 
opendata_volume_listing_clean2 = opendata_volume_listing_clean.groupby(['province_name_en','district_name_en','propertytype_name_en'])['volume_of_sale'].mean().reset_index()
opendata_volume_listing_clean2

    province_name_en     district_name_en propertytype_name_en  volume_of_sale
0            Bangkok             BANG BON                Condo       12.000000
1            Bangkok            BANG KAPI                Condo      224.184211
2            Bangkok            BANG KAPI             Townhome       18.200000
3            Bangkok            BANG KHAE                Condo       51.105263
4            Bangkok            BANG KHAE             Townhome       13.000000
..               ...                  ...                  ...             ...
122     Samut Prakan  MUEANG SAMUT PRAKAN       Detached House       19.950000
123     Samut Prakan  MUEANG SAMUT PRAKAN             Townhome       21.388889
124     Samut Prakan        PHRA PRADAENG                Condo       24.230769
125     Samut Prakan     PHRA SAMUT CHEDI                Condo       18.444444
126     Samut Prakan     PHRA SAMUT CHEDI             Townhome       16.000000

[127 rows x 4 columns]

In [79]:
# select columns 
opendata_volume_listing_clean2 = opendata_volume_listing_clean2[[
       'province_name_en', 'district_name_en',
        'propertytype_name_en', 'volume_of_sale'
       ]]

In [80]:
# merge
table_merge4 = table_merge3.merge(opendata_volume_listing_clean2, how ='left', left_on=['province_name_en','district_name_en','propertytype_name_en',], right_on=['province_name_en','district_name_en','propertytype_name_en',]) 
print(table_merge4.shape)

(54604, 60)

In [81]:
table_merge4.columns

Index(['project_id', 'name_en', 'name_th', 'propertytype_id',
       'propertytype_name_en', 'propertytype_name_th', 'price_min',
       'developer_id', 'developer_name_en', 'latitude', 'longitude',
       'neighborhood_id', 'neighborhood_name_en', 'subdistrict_id',
       'subdistrict_name_en', 'subdistrict_name_th', 'district_id',
       'district_name_en', 'district_name_th', 'province_id',
       'province_name_en', 'province_name_th', 'zipcode', 'count_elevator',
       'count_elevator_service', 'count_floor', 'count_parking', 'count_unit',
       'count_unittype', 'facility_clubhouse', 'facility_fitness',
       'facility_meeting', 'facility_park', 'facility_playground',
       'facility_pool', 'facility_security', 'unittype_id',
       'count_airconditioner', 'count_elevator_unittype',
       'count_floor_internal', 'count_parking_unittype', 'count_room_bath',
       'count_room_bed', 'count_room_dinning', 'count_room_guest',
       'count_room_kitchen', 'count_room_living', 'count_room_maid',
       'count_room_storage', 'count_room_utility', 'eating_daytime',
       'eating_daytime_price', 'eating_daytime_quality',
       'eating_daytime_variety', 'eating_nighttime', 'eating_nighttime_price',
       'eating_nighttime_quality', 'eating_nighttime_variety', 'interest',
       'volume_of_sale'],
      dtype='object')

#### Missing/Null Checking

In [82]:
table_merge4.isnull().any()

project_id                  False
name_en                     False
name_th                     False
propertytype_id             False
propertytype_name_en        False
propertytype_name_th        False
price_min                   False
developer_id                False
developer_name_en           False
latitude                    False
longitude                   False
neighborhood_id             False
neighborhood_name_en        False
subdistrict_id              False
subdistrict_name_en         False
subdistrict_name_th         False
district_id                 False
district_name_en            False
district_name_th            False
province_id                 False
province_name_en            False
province_name_th            False
zipcode                     False
count_elevator              False
count_elevator_service      False
count_floor                 False
count_parking               False
count_unit                  False
count_unittype              False
facility_clubhouse          False
facility_fitness            False
facility_meeting            False
facility_park               False
facility_playground         False
facility_pool               False
facility_security           False
unittype_id                 False
count_airconditioner        False
count_elevator_unittype     False
count_floor_internal        False
count_parking_unittype      False
count_room_bath             False
count_room_bed              False
count_room_dinning          False
count_room_guest            False
count_room_kitchen          False
count_room_living           False
count_room_maid             False
count_room_storage          False
count_room_utility          False
eating_daytime              False
eating_daytime_price        False
eating_daytime_quality      False
eating_daytime_variety      False
eating_nighttime            False
eating_nighttime_price      False
eating_nighttime_quality    False
eating_nighttime_variety    False
interest                    False
volume_of_sale               True
dtype: bool

In [83]:
#we used fill Null with 0 
table_merge4 = table_merge4.fillna(0)

In [84]:
# save data
table_merge4.to_csv('Project_data5.csv', index=False)

#Dashboard
https://datastudio.google.com/reporting/1feddf14-400e-4d4a-8f38-ffbaed35e013

#Presentation
https://www.canva.com/design/DAFQ0hyYZOg/_nzBD1HTopOG9m8Q3tAAtw/edit?utm_content=DAFQ0hyYZOg&utm_campaign=designshare&utm_medium=link2&utm_source=sharebutton